# -----------------------------------------------------------------------------
# The default Tincre Pipfile.
# 
# This should be customized per application requirements; uncomment or add
# those packages required. This should be used for datascience, web, and
# most other Python-based projects, replacing raw venv or anaconda usage.
# -----------------------------------------------------------------------------

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pynvim = "*"
autopep8 = "*"

[packages]
toml = "*"
openai = "*"

[requires]
python_version = "3.11"
